<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <!-- Hiển thị error message -->
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>

        <!-- Form đăng nhập -->
        <form class="login-form centered" action="/login" method="POST">
            <h3>Đăng nhập tài khoản quản lý</h3>
            <div class="form-control">
                <label for="userId">ID (Mã nhân viên)</label>
                <input type="text" name="userId" id="userId">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Login</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>