<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">  
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/"><%= staff_id ? 'Home' : 'Trang chủ' %></a>
            </li>
            <li class="main-header__item">
                <a
                    class="<%= path === '/check/:staff_id' ? 'active' : '' %>"
                    href="/check/<%= staff_id %>"
                    <%= staff_id ? '' : 'hidden' %>
                >
                    Điểm danh
                </a>
            </li>
            <li class="main-header__item">
                <a
                    class="<%= path === '/annualLeave/:staff_id' ? 'active' : '' %>"
                    href="/annualLeave/<%= staff_id %>"
                    <%= staff_id ? '' : 'hidden' %>
                >
                    Nghĩ phép
                </a>
            </li>
            <li class="main-header__item">
                <a
                    class="<%= path === '/staff/:_id' ? 'active' : '' %>"
                    href="/staff/<%= staff_id %>"
                    <%= staff_id ? '' : 'hidden' %>
                >
                    Thông tin cá nhân
                </a>
            </li>
            <li class="main-header__item">
                <a
                    class="<%= path === '/salary/:staff_id' ? 'active' : '' %>"
                    href="/salary/<%= staff_id %>"
                    <%= staff_id ? '' : 'hidden' %>
                >
                    Chi tiết lương
                </a>
            </li>
            <li class="main-header__item">
                <a
                    class="<%= path === '/covid/:staff_id' ? 'active' : '' %>"
                    href="/covid/<%= staff_id %>"
                    <%= staff_id ? '' : 'hidden' %>
                >
                    Thông tin covid
                </a>
            </li>
        </ul>
        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
            <% } else { %>
                <li class="main-header__item">
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
</header>