<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">  
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Nhân viên</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/staff/:_id' ? 'active' : '' %>" <%= path === '/staff/:_id' ? '' : 'hidden' %> >Thông tin nhân viên</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/check/:staff_id' ? 'active' : '' %>" <%= path === '/check/:staff_id' ? '' : 'hidden' %> >Điểm danh</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/annualLeave/:staff_id' ? 'active' : '' %>" <%= path === '/annualLeave/:staff_id' ? '' : 'hidden' %> >Nghĩ phép</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/salary/:staff_id' ? 'active' : '' %>" <%= path === '/salary/:staff_id' ? '' : 'hidden' %> >Chi tiết lương</a>
            </li>
            <% if (isAuthenticated) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/covid/:staff_id' ? 'active' : '' %>" <%= path === '/covid/:staff_id' ? '' : 'hidden' %> >Thông tin covid</a>
                </li>
                <!-- <li class="main-header__item">
                    <a class="<%= path === '/salary' ? 'active' : '' %>" href="/manager-view">Xác nhận của quản lý</a>
                </li> -->
            <% } %>
        </ul>
        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
            <% } else { %>
                <li class="main-header__item">
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
</header>

<!-- <nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Danh sách nhân viên</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/staff' ? 'active' : '' %>" href="/staff">Thông tin nhân viên</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/check' ? 'active' : '' %>" href="/check">Điểm danh</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/salary' ? 'active' : '' %>" href="/salary">Chi tiết lương</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/covid' ? 'active' : '' %>" href="/covid">Thông tin covid</a>
        </li>
    </ul>
</nav> -->