<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/staff.css">
    <link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h2 class="centered"><%= user.isManager ? "Xác nhận thông tin nhân viên" : "" %></h2>
    <% if (staffs.length > 0) { %>

        <div class="grid">
            <% for (let staff of staffs) { %>
                <article class="card staff-item">
                    <a class="card__content" href="/staff/<%= staff._id %>" class="btn">
                        <div class="card__image">
                            <img src="<%= staff.imageUrl %>" alt="<%= staff.title %>">
                        </div>
                        <p class="staff__description"><%= staff.name %></p>
                    </a>
                    <div class="card__actions">
                        <a href="/check/<%= staff._id %>" class="btn">Điểm danh</a>
                        <a href="/annualLeave/<%= staff._id %>" class="btn">Đăng ký nghĩ phép</a>
                        <a href="/covid/<%= staff._id %>" class="btn">Thông tin covid-19</a>
                        <a href="/salary/<%= staff._id %>" class="btn">Thông tin lương</a>
                    </div>
                </article>
            <% } %>
        </div>

    <% } else { %>
        <h1>No Staffs Found!</h1>
    <% } %>

<%- include('includes/end.ejs') %>