<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/staff.css">
    <link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main class="centered grid">
        <div class="card">
            <div>
                <h2>Họ và tên: <%= name %></h2>
                <p>Trạng thái: <%= work.working[0].state ? 'Đang làm việc!' : 'Chưa làm việc!' %></p>
                <p>Thời gian bắt đầu: <%= work.working[0].begin %></p>
                <p>Thời gian kết thúc: <%= work.working[0].end %></p>
                <p>Thời gian đã làm việc trong ngày: <%= work.working[0].workTime %></p>
                <form action="/post-begin" method="post">
                    <div class="form-control">
                        <label for="at">Nơi làm việc:</label>
                        <input type="text" name="at" id="at" value="<%= work.working[0].at %>">
                    </div>
                    <input type="hidden" value="<%= _id %>" name="_id">
                    <button class="btn" type="submit" <%= work.working[0].state ? "disabled" : null %> >Điểm danh bắt đầu</button>
                </form>
                <form action="/post-end" method="post">
                    <input type="hidden" value="<%= _id %>" name="_id">
                    <button class="btn" type="submit" <%= work.working[0].state ? null : "disabled" %> >Điểm danh kết thúc</button>
                </form>
            </div>
            <div>
                <h3>Danh sách các phiên làm việc trong ngày</h3>
                    <%
                        const P = work.working.filter(function (p) {
                            return p.date === date;
                        })
                        if (P.length !== 0 && P[0].begin !== 'Chưa ghi nhận!') {
                            P.forEach(function (p) {
                    %>
                        <div class="card">
                            <p>Phiên làm việc bắt đầu lúc: <%= p.begin %></p>
                            <p>Kết thúc lúc: <%= p.end %></p>
                            <p>Tại: <%= p.at %></p>
                        </div>
                    <%  
                            });
                        } else {
                    %>
                        <p class="card">Hôm nay chưa bắt đầu làm việc!</p>
                    <% } %>
            </div>
        </div>
        
        <div class="card">
            <div>
                <h3>Đăng ký nghĩ phép</h3>
                <form action="/post-annualLeave" method="post">
                    <div class="form-control">
                        <label for="aLDate">Chọn ngày:</label>
                        <input type="date" name="aLDate" id="aLDate">
                    </div>
                    <div class="form-control">
                        <label for="aLHour">Chọn số giờ nghĩ:</label>
                        <input type="number" name="aLHour" id="aLHour" min="0" max="8" step="0.25">
                    </div>
                    <div class="form-control">
                        <label for="LD">Lý do:</label>
                        <textarea name="LD" id="LD" rows="3" cols="40"></textarea>
                    </div>
                    <input type="hidden" value="<%= _id %>" name="_id">
                    <button class="btn" type="submit" <%= work.annualLeave.total <= 0 ? "disabled" : null %> >Đăng ký nghĩ phép</button>
                </form>
            </div>
            <div>
                <h3>Thông tin nghĩ phép</h3>
                <p>Số ngày nghĩ phép còn lại: <%= work.annualLeave.total %></p>
                <p>Bạn <%= work.annualLeave.total <= 0 ? 'không thể' : 'có thể' %> đăng ký nghĩ phép</p>
            </div>
        </div>
    </main>

<%- include('includes/end.ejs') %>