<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <main class="card centered grid">
        <div class="card__image">
            <img src="<%= staff.imageUrl %>" alt="<%= staff.name %>" />
            <h1>Họ và tên: <%= staff.name %></h1>
        </div>
        <div class="card__content">
            <form class="product-form" action="/edit-staff" method="POST">
                <div class="form-control">
                    <label for="name">Họ và tên</label>
                    <input type="text" name="name" id="name" value="<%= staff.name %>" readonly>
                </div>
                <div class="form-control">
                    <label for="doB">Ngày sinh</label>
                    <input type="text" name="doB" id="doB" value="<%= staff.doB %>" readonly>
                </div>
                <div class="form-control">
                    <label for="startDate">Ngày vào công ty</label>
                    <input type="text" name="startDate" id="startDate" value="<%= staff.startDate %>" readonly>
                </div>
                <div class="form-control">
                    <label for="department">Phòng ban</label>
                    <input type="text" name="department" id="department" value="<%= staff.department %>" readonly>
                </div>
                <div class="form-control">
                    <label for="salaryScale">Hệ số lương</label>
                    <input type="text" name="salaryScale" id="salaryScale" value="<%= staff.salaryScale %>" readonly>
                </div>
                <div class="form-control">
                    <label for="annualLeave">Số ngày nghỉ còn lại</label>
                    <input type="text" name="annualLeave" id="annualLeave" value="<%= staff.annualLeave %>" readonly>
                </div>
                <hr>
                <div class="form-control">
                    <label for="imageUrl">Link hình ảnh</label>
                    <input type="text" name="imageUrl" id="imageUrl" value="<%= staff.imageUrl %>">
                </div>
                <input type="hidden" value="<%= staff._id %>" name="_id">
                <button class="btn" type="submit">Thay đổi ảnh cá nhân</button>
            </form>
        </div>
    </main>

<%- include('includes/end.ejs') %>