<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main class="centered">
        <h2>Thông tin làm việc</h2>
        <div class="grid">
            <div class="card">
                <h3>Họ và tên: <%= Staff.name %></h3>
                <hr/>
                <p>Id nhân viên: <%= Staff.staffId %></p>
                <p>Quản lí: <%= Staff.managerId %></p>
            </div>
            <div class="card">
                <form class="card" action="/post-search-month?page=<%= oldState.showPage %>&item=<%= oldState.item %>" method="post">
                    <label><strong>Lương tháng:</strong></label>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="staff_id" value="<%= Staff._id %>">
                    <input type="text" name="monthSearch" value="<%= oldState.month %>" />
                    <button type="submit">Search</button>
                </form>
                <h5>Lương = salaryScale * 3.000.000 + (Over Time - số giờ làm thiếu) * 200.000)</h5>
                <hr/>
                <% if (monthData.loseTime < 160) { %>

                <span>Chi tiết:</span>
                <div class="grid">
                    <span>Lương: <%= Math.round(Staff.salaryScale*3000000 + (monthData.oT - monthData.loseTime)*200000) %> (VND)</span>
                    <span>Salary scale: <%= Staff.salaryScale %></span>
                </div>
                <div class="grid">
                    <span>Over Time: <%= monthData.oT %> (giờ)</span>
                    <span>Thiếu: <%= monthData.loseTime %> (giờ)</span>
                </div>

                <% } else { %>

                <p><strong>Chưa có thông tin làm việc.</strong></p>

                <% } %>
            </div>
        </div>
        <h4>Chi tiết thông tin giờ làm</h4>
        <div class="card">
        <% if (sessionData.length > 0) { %>

            <div class="grid">
            <% for (let S of sessionData) { %>
                <% S.map(s => { %>

                <div class="card">
                    <h4>Ngày: <%= s.date %></h4>
                    <span>- Thời gian bắt đầu làm việc: <%= s.begin %></span><br/>
                    <span>- Thời gian kết thúc: <%= s.end %></span><br/>
                    <span>- Nơi làm việc: <%= s.at %></span><br/>
                    <span>- Thời gian làm việc của phiên: <%= s.workTime %></span><br/>
                    <% const D = dateData.find(d => d.date === s.date); %>
                    <% if (s.countIndex === D.lastSessionIndex) {%>

                    <hr/>
                    <span>- Thời gian làm thêm trong ngày: <%= D.oT %></span><br/>
                    <span>- Thời gian đăng ký nghĩ<br/>trong ngày: <%= D.annu %></span><br/>
                    <span>- Thời gian làm theo ngày<br/>(bao gồm cả nghĩ phép): <%= D.hourToSalary %></span><br/>

                    <% } %>
                </div>

                <% }) %>

            <% } %>
            </div>
            <%- include(
                './includes/pagination.ejs',
                {
                    oldState: oldState,
                    hasPrevPage: hasPrevPage,
                    prevPage: prevPage,
                    lastPage: lastPage,
                    currentPage: currentPage,
                    nextPage: nextPage,
                    hasNextPage: hasNextPage,
                }
            ) %>

        <% } else { %>
            <p>Chưa có thông tin giờ làm.</p>
        <% } %>
        </div>
    </main>

<%- include('includes/end.ejs') %>