<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main class="centered">
        <div class="card grid">
            <% if (!user.isManager) { %>
                <form class="product-form" action="/post-vaccine" method="POST">
                    <div class="form-control">
                        <label for="ngayTiem">Ngày tiêm vaccin</label>
                        <input type="date" name="ngayTiem" id="ngayTiem" placeholder="Nhập ngày tiêm">
                    </div>
                    <div class="form-control">
                        <label for="loaiVaccine">Loại vaccin đã tiêm</label>
                        <input type="text" name="loaiVaccine" id="loaiVaccine" placeholder="Nhập loại vaccine đã tiêm">
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" value="<%= covids.staff_id %>" name="staff_id">
                    <input type="hidden" value="<%= covids._id %>" name="_id">
                    <button class="btn" type="submit">Đăng kí thông tin tiêm vaccin</button>
                </form>
            <% } %>
            <div class="card">
                <h3>Thông tin tiêm vaccin</h3>
                <% if (covids.vaccine.length > 0) { %>
                    <% for (let vac of covids.vaccine) { %>
                        <p>Tiêm vaccin vào ngày: <%= vac.dateVac %>, vaccin: <%= vac.typeVac %></p>
                    <% } %>
                    <form action="/exportFile" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                        <input type="hidden" value="<%= covids._id %>" name="_id">
                        <input type="hidden" value="vaccine" name="type">
                        <button class="btn" type="submit">Xuất file PDF</button>
                    </form>
                <% } else { %>
                    <p>Chưa có thông tin!</p>
                <% } %>
            </div>
        </div>
        <div class="card grid">
            <% if (!user.isManager) { %>
                <form class="product-form" action="/post-xn" method="POST">
                    <div class="form-control">
                        <label for="xetNghiem">Kết quả xét nghiệm dương tính vào ngày</label>
                        <input type="date" name="ngayXN" id="ngayXN" placeholder="Nhập ngày xét nghiệm dương tính">
                    </div>
                    <input type="hidden" value="<%= covids.staff_id %>" name="staff_id">
                    <input type="hidden" value="<%= covids._id %>" name="_id">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn" type="submit">Đăng kí thông tin bệnh</button>
                </form>
            <% } %>
            <div class="card">
                <h3>Thông tin bệnh</h3>
                <% if (covids.datePositive.length > 0) { %>
                    <p>Ngày dương tính:</p>
                    <% for (let daPos of covids.datePositive) { %>
                        <p><%= daPos %></p>
                    <% } %>
                    <form action="/exportFile" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                        <input type="hidden" value="<%= covids._id %>" name="_id">
                        <input type="hidden" value="datePositive" name="type">
                        <button class="btn" type="submit">Xuất file PDF</button>
                    </form>
                <% } else { %>
                    <p>Chưa có thông tin!</p>
                <% } %>
            </div>
        </div>
        <div class="card grid">
            <% if (!user.isManager) { %>
                <form class="product-form" action="/post-nd" method="POST">
                    <div class="form-control">
                        <label for="nhietDo">Nhiệt Độ (oC)</label>
                        <input type="text" name="nhietDo" id="nhietDo" value="37">
                    </div>
                    <div class="form-control">
                        <label for="ngayDoTem">Ngày đo nhiệt độ</label>
                        <input type="date" name="ngayDoTem" id="ngayDoTem">
                    </div>
                    <input type="hidden" value="<%= covids.staff_id %>" name="staff_id">
                    <input type="hidden" value="<%= covids._id %>" name="_id">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn" type="submit">Đăng kí thông tin thân nhiệt</button>
                </form>
            <% } %>
            <div class="card">
                <h3>Thông tin thân nhiệt</h3>
                <% if (covids.tempBody.length > 0) { %>
                    <% for (let teBo of covids.tempBody) { %>
                        <p>Ngày: <%= teBo.dateTemp %>, nhiệt độ: <%= teBo.temp %></p>
                    <% } %>
                    <form action="/exportFile" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                        <input type="hidden" value="<%= covids._id %>" name="_id">
                        <input type="hidden" value="tempBody" name="type">
                        <button class="btn" type="submit">Xuất file PDF</button>
                    </form>
                <% } else { %>
                    <p>Chưa có thông tin!</p>
                <% } %>
            </div>
        </div>
    </main>

<%- include('includes/end.ejs') %>